body {
    background-color: rgb(65, 84, 255);
}

.heading h1 {
    --shadow-width: 1px;
    --shadow-width-: -1px;
    --shadow-color: black;
    text-align: center;
    color: yellow;
    font-size: 50px;
    text-shadow: 
    var(--shadow-width) var(--shadow-width) 0 var(--shadow-color),
    var(--shadow-width-) var(--shadow-width) 0 var(--shadow-color),
    var(--shadow-width-) var(--shadow-width-) 0 var(--shadow-color),
    var(--shadow-width) var(--shadow-width-) 0 var(--shadow-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-list li {
    display: inline-block;
    margin: 5px;
}

.scene {
    position: relative;
    text-align: center;
    display: flex;
}

.scene img {
    max-height: 200px;
}

.outcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    padding: 10px;
    font-size: 30px;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.computerScore,
.playerScore {
    min-width: 30px;
    background-color: yellow;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    color: black;
    margin: 5px;
}